<!DOCTYPE html>
<html lang="en" style="width:100%">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <style type="text/css">
    .name-group {
      width: auto;
      text-align: left;

    }

    .input-group {
      margin-bottom: 2px;
      width: auto;
    }

    .comboBox {
      margin-left: 10px;
      width: auto;
      width: 13em;
    }

    .comboBox-2 {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item active" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="width:100%;">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" align="center" style="font-family: 문체부 훈민정음체">예측하기 결과</h1>
    <br>
    <br>
    <hr width=100% style="height:3px" color="#888">
    <div class=" mb-4 " id="accordion " role="tablist " aria-multiselectable="true" style=" font-family:휴먼모음T;font-weight: bold;margin-left: auto;margin-right: auto;display: block;width:50% ;">
      <div>
        <div>
          <h1 class="mb-0" style="text-align:center">예측값</h1>
        </div>
        <br>
        <div id="collapseOne " class="collapse show " role="tabpanel " style=" font-family:휴먼모음T;font-weight: bold" aria-labelledby="headingOne ">
          <div class="card-body ">
            <h2 style="text-align:center">8800000명</h2>
          </div>
        </div>
      </div>
    </div>

    <hr width=100% style="height:3px" color="#888">

    <!-- Search Widget -->
    <div style="width:50% ;font-family: 휴먼모음T; margin-left: auto; margin-right: auto; display: block">
      <div class="card-body" style="width: 100%; margin-left: auto; margin-right: auto; display: block;">
        <table>
          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>영화제목 :&nbsp;</h5>
            </td>
            <td>
              <h5>신과함께 with god</h5>
            </td>
          </tr>
          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>감독 :&nbsp;</h5>
            </td>
            <td>
              <h5>이찬우</h5>
            </td>
          </tr>
          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>배우 :&nbsp;</h5>
            </td>
            <td>
              <h5>이찬우,&nbsp;</h5>
              <h5>이찬우2,&nbsp;</h5>
              <h5>이찬우3,&nbsp;</h5>
              <h5>이찬우4,&nbsp;</h5>
              <h5>이찬우5,&nbsp;</h5>
              <h5>이찬우6</h5>
            </td>
          </tr>
          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>개봉연도 :&nbsp;</h5>
            </td>
            <td>
              <h5>2018&nbsp;</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>개봉월 :&nbsp;</h5>
            </td>
            <td>
              <h5>7월,&nbsp;</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>장르 :&nbsp;</h5>

            </td>
            <td>
              <h5>판타지,&nbsp;</h5>

            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>상영시간 :&nbsp;</h5>

            </td>
            <td>
              <h5>120분,&nbsp;</h5>

            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>상영등급 :&nbsp;</h5>

            </td>
            <td>
              <h5>15세 이상 이용가</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>국가 :&nbsp;</h5>
            </td>
            <td>
              <h5>한국</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>배급사 :&nbsp;</h5>
            </td>
            <td>
              <h5>국민연금공단</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>예상별점 :&nbsp;</h5>
            </td>
            <td>
              <h5>10</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>별점참여수 :&nbsp;</h5>
            </td>
            <td>
              <h5>10000</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>개봉 전 스크린 수 :&nbsp;</h5>
            </td>
            <td>
              <h5>103</h5>
            </td>
          </tr>
          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>개봉 전 관람객 수 :&nbsp;</h5>
            </td>
            <td>
              <h5>10000</h5>
            </td>
          </tr>

          <tr>
            <td style="text-align:right;vertical-align:top">
              <h5>개봉 전 상영횟수 :&nbsp;</h5>
            </td>
            <td>
              <h5>10</h5>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <!-- <div style="width:50% ;font-family: 휴먼모음T; margin-left: auto; margin-right: auto; display: block">
        <div class="card-body" style="width: 70%; margin-left: auto; margin-right: auto; display: block;">
          <div class=" input-group ">
            <div class="name-group ">
              <h5>영화제목 :&nbsp;</h5>
            </div>
            <h5>신과함께 with god</h5>
          </div>
          <div class=" input-group ">
            <div class="name-group ">
              <h5>감독 :&nbsp;</h5>
            </div>
            <h5>이찬우</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>배우 :&nbsp;</h5>
            </div>
            <h5>이찬우,&nbsp;</h5>
            <h5>이찬우2,&nbsp;</h5>
            <h5>이찬우3,&nbsp;</h5>
            <h5>이찬우4,&nbsp;</h5>
            <h5>이찬우5,&nbsp;</h5>
            <h5>이찬우6</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>개봉연도 :&nbsp;</h5>
            </div>
            <h5>2018&nbsp;</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>개봉월 :&nbsp;</h5>
            </div>
            <h5>7월,&nbsp;</h5>
          </div>
  
          <div class="input-group ">
            <div class="name-group ">
              <h5>장르 :&nbsp;</h5>
            </div>
            <h5>판타지,&nbsp;</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>상영시간 :&nbsp;</h5>
            </div>
            <h5>120분,&nbsp;</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>상영등급 :&nbsp;</h5>
            </div>
            <h5>15세 이상 이용가</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>국가 :&nbsp;</h5>
            </div>
            <h5>한국</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>배급사 :&nbsp;</h5>
            </div>
            <h5>국민연금공단</h5>
          </div>
  
          <div class="input-group ">
            <div class="name-group ">
              <h5>예상별점 :&nbsp;</h5>
            </div>
            <h5>10</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>별점참여수 :&nbsp;</h5>
            </div>
            <h5>10000</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>개봉 전 스크린 수 :&nbsp;</h5>
            </div>
            <h5>103</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>개봉 전 관람객 수 : </h5>
            </div>
            <h5>10000</h5>
          </div>
          <div class="input-group ">
            <div class="name-group ">
              <h5>개봉 전 상영횟수 : </h5>
            </div>
            <h5>10</h5>
          </div>
        </div>
      </div> -->


  </div>
  <!-- <hr style="color: #888; size:100%;border:thin;"> -->


  <!-- /.container -->



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container ">
      <p class="m-0 text-center text-white ">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js "></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>

</body>

</html>